inventory/config/house.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="house">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="room" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="furniture" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="shelf" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="code" type="xs:string" use="required"/>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="code" type="xs:string" use="required"/>
                  <xs:attribute name="name" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="code" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- Codes must be unique across the entire document -->
    <xs:unique name="uniqueCode">
      <xs:selector xpath=".//*"/>
      <xs:field xpath="@code"/>
    </xs:unique>

  </xs:element>

</xs:schema>
